@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');
a.white-mode,
a.white-mode:link,
a.white-mode:visited,
a.white-mode:active {
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    left: 40px;
    bottom: 0px;
    font-size: 12px;
    text-decoration: none;
    background: #f7f7f7;
    padding: 4px 8px;
    z-index: 10;
    color: #3B425A;
}

a.white-mode:hover,
a.white-mode:link:hover,
a.white-mode:visited:hover,
a.white-mode:active:hover {
    background: #7B46FE;
    color: #FDFA75;
}

body {
    background: #32384f;
    padding: 0;
    margin: 0;
    color: #FFF;
    font-family: 'Nanum Gothic', sans-serif;
}

h1 {
    font-size: 56px;
    font-weight: 400;
    color: #fcf769;
    position: relative;
}

h1:after {
    content: "";
    padding-bottom: 30px;
    display: block;
    border-bottom: 1px solid #464c63;
    width: 60%;
}

img {
    max-width: 100%;
}

.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    left: 100px;
    top: 5%;
    width: 1px;
    height: 90%;
    background: #464c63;
}

.timeline .bar {
    position: absolute;
    width: 1px;
    border-radius: 1px;
    background-color: #fcf769;
    top: 0;
    left: 0;
    z-index: 0;
}

.container {
    padding-left: 200px;
}

section {
    border-top: 2px solid #fcf769;
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
}

p {
    line-height: 2;
}

.node {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #FFF;
    left: -1px;
    z-index: 1;
    cursor: pointer;
    border-radius: 3px;
}

.node:hover {
    background: #46ffdd;
}

.node:hover span {
    opacity: 1;
}

.node:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    left: -3px;
    top: -3px;
}

.node span {
    transition: all 0.4s ease-out;
    text-transform: uppercase;
    right: 4px;
    top: -16px;
    color: #FFFFFF;
    position: absolute;
    padding: 10px;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 200;
    opacity: 0;
}


/* 사진출력 관련 css */

 body {
            min-height: 1000px;
        }
        
        #columns {
            column-width: 320px;
            column-gap: 15px;
            width: 90%;
            max-width: 1100px;
            margin: 50px auto;
        }
        
        div#columns figure {
            border: 2px solid #fcfcfc;
            box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
            margin: 0 2px 15px;
            padding: 15px;
            padding-bottom: 10px;
            transition: opacity .4s ease-in-out;
            display: inline-block;
        }
        
        div#columns figure img {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
            margin-bottom: 5px;
        }
        
        div#columns figure figcaption {
            font-size: .9rem;
            line-height: 1.5;
        }
        
        div#columns small {
            font-size: 1rem;
            float: right;
            text-transform: uppercase;
            color: #aaa;
        }
        
        div#columns small a {
            color: #666;
            text-decoration: none;
            transition: .4s color;
        }
        
        div#columns:hover figure:not(:hover) {
            opacity: 0.4;
        }
        
        @media screen and (max-width: 750px) {
            #columns {
                column-gap: 0px;
            }
            #columns figure {
                width: 100%;
            }
        }

/* header 관련 css*/

header {
    padding: 20px;
    text-align: right;
}

header div.movecontainer:hover {
    cursor: pointer;
}

header div.moveTo {
    display: inline-block;
}